{% extends 'base.html' %}

{% block content%}
<center><img src="{{ url_for('static', filename= filename) }}" alt="" style="width: 100px; height:100px;"></center>
<br>
<br>
{% if show==True %}
<center>

    {% if message=="healthy" %}
    <h3><span class="badge badge-success">{{message}}</span></h3>
    {%endif%}

    {% if message=="pneumonic" %}
    <h3><span class="badge badge-danger">{{message}}</span></h3>
    {%endif%}
    <br>
    <br>

    <a href="/" class="btn btn-info" role="button">Go Back</a>
</center>
{% else %}
<center>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="file">Please Upload Image for Chest X-Ray: </label>
        <input type="file" name="img" id="img">
        <label >Enter the id of patient if already regsitered: </label>
        <input type="string" name="phoneNumber" id="phoneNumber">
        <button type="submit" class="btn btn-primary ml-3">Submit</button>
    </form>
    <br>
    <br>
    <br>
<!--    <form action="/" method="POST" enctype="multipart/form-data">-->
<!--        <label >Enter the id of patient if already regsitered: </label>-->
<!--        <input type="string" name="phoneNumber" id="phoneNumber">-->
<!--    </form>-->
    <br>
    <br>
</center>
{% endif %}
{% endblock%}